body {
  background-color: dodgerblue;
}

.title {
  font-family: sans-serif;
  color: #fff;
}

.sub-title {
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;
}

.list {
  font-family: sans-serif;
  color: orange;
}
